<form align="center">
    <input type="text" maxlength="255" size="30" ng-model="user.firstName" placeholder="first name"/>
    <br>
    <input itype="text" maxlength="255" size="30" ng-model="user.lastName" placeholder="last name" />
    <br>
    <input type="text" maxlength="255" size="30" ng-model="user.email" placeholder="email" />
    <br>
    <input type="text" maxlength="255" size="30" ng-model="user.confirmEmail" placeholder="confirm email" />
    <br>
    <input type="text" maxlength="255" size="30" ng-model="user.password" placeholder="password" />
    <br>
    <button ng-click="register">submit</button>
</form>