* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: black;
    font-family: Open Sans Condensed;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 46px;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 20px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #32cd32;
    font-size: 18px;
}

a:visited, a:link {
    color: #ff963e;
}

a:hover {
    color: #59cdcd;
}


form {
    margin-top: 5%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-direction: column;
    -moz-box-direction: column;
    -ms-flexbox-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
}

textarea {
    margin: 5px;
    width: 40%;
    min-width: 250px;
    height: 200px;
    background: rgba(0,0,0,0.6);
    border: 5px solid black;
}

input {
    margin: 5px;
    width: 250px;
    height: 30px;
    background: rgba(0,0,0,0.6);
    border: 5px solid black;
}

button {
    height: 37.5px;
    width: 100px;
    font-size: 18px;
    font-style: bold;
    background: black;
    color: limegreen;
    border: 2px solid black;
}


input:focus {
    background: rgba(0,0,0,0);
}


textarea:focus {
    background: rgba(0,0,0,0);
}


header {
    font-size: 14px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-top: 0;
    position: fixed;
    height: 35px;
    width: 100%;
    top: 0px;
    background: rgba(0,0,0,0.9);
    box-shadow: 0 0 80px 80px rgba(0,0,0,0.9);
}

.logo {
    width: 20%;
    background-size: cover;
}

.logo img {
    height: 60px;
    margin-left: 1%;
    top: 0;
    position: fixed;
}

.login {
    width: 40%;
    height: 25px;
    float: right;
    text-align: right;
}

.login li {
    display: inline;
    padding-right: 20px;
    font-size: 24px;
}

.navbar {
    margin-right: 30px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    align-items: flex-start;
    text-transform: uppercase;
}

navbar {
    margin: 20px;
}


.social {
    position: absolute;
    top: 65px;
    right: 0;
}


.social img{
    height: 50px;
    width: 50px;
}

.social a img:hover {
    position: relative;
    top: 0;
    right: 10px;
    /*height: 80px;
    width: 80px;*/
}

.body div {
    overflow: hidden;
}

.content {
    height: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.column {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    flex-direction: column;
    -webkit-box-direction: column;
    -moz-box-direction: column;
    -ms-flexbox-direction: column;
    -webkit-flex-direction: column;
}

.imageBackdrop img {
    heght: 100%;
    width: 100%;
    background-image: url(../images/KAB2-Background28.jpg);
    background-size: cover;
}

.imageBackdrop {
    heigth: 30%;
    width: 30%;
    background: black;
    float: right;
    margin-right: 5%;
    margin-top: 10%;
}

#home {
    /*background-image: url(../images/fallingmoney.png);
    background-size: cover;*/
    /*color: whitesmoke;*/
    text-align: center;
    top: 0;
}

#home .content {
    background: rgba(0,0,0,.7);
}


#winners {
    background: limegreen;
    background-size: cover;
    color: black;
}

#winners .content {
}

#winners li {
    width: 20%;
    display: inline;
}

#winners img {
    margin-right: 2%;
    height: 180px;
    width: 130px;
    border: 5px solid black;
}


#howItWorks {
    background: whitesmoke;
    color: black;
}

.info {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
}


site-info {
    width: 30%;
    height: 300px;
    margin: 1%;
}

#howItWorks h2 {
    color: limegreen;
}

#howItWorks h3 {
    color: #ff963e;
}

#sign_in {
    background: #ff963e;
    color: black;
    text-align: center;
    box-shadow: 0px, 0px, 10px, 10px #ff963e;
}


#sign_in a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#register {
    background: limegreen;
    width: 80%;
    margin-left: 10%;
    position: fixed;
    top: 25%;
    box-shadow: -8px -8px 2px 2px rgba(0,0,0,0.4);
}

#register .background {
    background-image: url(../images/people.png);
    background-size: cover;
}

/*#register .content {
    background: rgba(200,200,200,0.7);
}*/

#register input {
    color: white;
}

#popup--close {
    background-image: url(../images/close_icon.png);
    background-size: cover;
    position: fixed;
    width: 40px;
    height: 40px;
    top: 27%;
    right: 11%;
    /* color: black; */
    /* font-size: 34px; */
}

.background--black {
    background: rgba(0,0,0,0.9);
}


#games {
    height: 800px;
    background-image: url(../images/fallingmoney.png);
    background-size: cover;
}

#games .content {
    background: rgba(0,0,0,0.4);
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    align-items: center;
}

.font--large {
    font-size: 100px;
}


#contact {
    text-align: center;
    background: whitesmoke;
    background-size: cover;
    color: black;
}


footer {
    /* position: absolute; */*/
    bottom: 0px;*/
    width: 100%;
    height: 40px;
    bottom: 0;
    z-index: 1;
    background: black;
    /*overflow: hidden;*/
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
}


footer li {
    padding-right: 10px;
}


#canvas {
    z-index: 1;
}

.text--color-main{
    font-family: Rancho;
    color: limegreen;
}

.text--boxshadow {
    text-shadow: 4px 4px 4px  black;
}


video#bgvid {
position: fixed;
top: 50%;
left: 50%;
/*min-width: 100%;
min-height: 100%;*/
width: 100%;
/*height: 100%;*/
z-index: -1;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(../images/fallingmoney.png);
/*background: url(polina.jpg) no-repeat;
background-size: cover;*/
}



/* do not group these rules */
*::-webkit-input-placeholder {
    color: rgb(140,140,140);
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: rgb(140,140,140);
}
*::-moz-placeholder {
    /* FF 19+ */
    color: rgb(140,140,140);
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(140,140,140);
}


