body {
    color: white;
    background: black;
    font-family: sans-serif;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 46px;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 20px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #32cd32;
    font-size: 18px;
}

a:hover {
    color: #59cdcd;
}

form {
    margin-top: 5%;
}

form textarea {
    width: 40%;
    height: 200px;
    background: rgba(0,0,0,0.6);
    border: 5px solid black;
}

form input {
    width: 250px;
    height: 24px;
    background: rgba(0,0,0,0.6);
    border: 5px solid black;
}

button {
    height: 37.5px;
    width: 100px;
    font-size: 18px;
    font-style: bold;
    background: black;
    color: limegreen;
    border: 2px solid black;
}

button a {
    height: 37.5px;
    width: 100px;
    font-size: 18px;
    font-style: bold;
    background: black;
    color: limegreen;
    border: 2px solid black;
}

input {
    font-weight: 800;
    font-size: 18px;
}

input:focus {
    background: rgba(0,0,0,0);
}

textarea {
    font-size: 18px;
}

textarea:focus {
    background: rgba(0,0,0,0);
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.header {
    margin-top: 1%;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0px;
    background: black;
}

.logo {
    float:left;
    width: 20%;
    background-size: cover;
    position: fixed;
}

.logo img {
    width: 120px;
    margin-left: 1%;
    top: 1%;
    position: fixed;
}

.login {
    width: 40%;
    height: 25px;
    float: right;
    text-align: right;
}

.login li {
    display: inline;
    padding-right: 20px;
    font-size: 24px;
}

.navbar {
    float:left;
    width: 98.9%;
    text-align: right;
    background-color: rgba(0,0,0,.9);
    text-transform: uppercase;
}

.navbar li {
    display: inline;
    margin-left: 3%;
    padding: 0.5%;
}

.social {
    width: 15%;
    float: right;
    clear: both;
    width: 300px;
}


.social img{
    height: 55px;
    width: 55px;
    margin-right: 8%;
    clear:both;
    float: right;
}

.social a img:hover {
    height: 80px;
    width: 80px;
}

.body div {
    overflow: hidden;
}

.content {
    height: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.imageBackdrop img {
    heght: 100%;
    width: 100%;
    background-image: url(../images/KAB2-Background28.jpg);
    background-size: cover;
}

.imageBackdrop {
    heigth: 30%;
    width: 30%;
    background: black;
    float: right;
    margin-right: 5%;
    margin-top: 10%;
}

#home {
    background-image: url(../images/fallingmoney.png);
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    top: 0;
}

#home .content {
    background: rgba(25,25,25,.8);
}


#winners {
    background: limegreen;
    background-size: cover;
    color: black;
}

#winners .content {
}

#winners li {
    width: 20%;
    display: inline;
}

#winners img {
    margin-right: 2%;
    height: 180px;
    width: 130px;
    border: 5px solid black;
}


#howItWorks {
    background: whitesmoke;
    color: black;
}

#howItWorks .content {
}

#howItWorks .info div {
    width: 27%;
    height: 300px;
    margin-right: 5%;
    float: left;
}

#howItWorks .info {
    margin-left: 5%;
    margin-right: 0%;
}

#howItWorks h2 {
    color: limegreen;
}

#howItWorks h3 {
    color: limegreen;
}

#sign_in {
    background: #ff963e;
    color: black;
    text-align: center;
}

#sign_in .content {
    padding-top: 5%;
}

#sign_in a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#register {
    background: white;
    border: 10px solid black;
}

#register .background {
    background-image: url(../images/people.png);
    background-size: cover;
}

#register .content {
    background: rgba(0,0,0,0.7);
}

#register input {
    color: white;
}
#games {
    height: 800px;
    background-image: url(../images/background-for-twitter-5-free-hd-background-and-wallpaper.jpg);
    background-size: cover;
}

#games .content {
    background: rgba(0,0,0,0.7);
}

#casino {
    margin-left: 5%;
    height: 60%;
    width: 40%;
    float:left;
    text-align: center;
    color: limegreen;
}

#casino img {
    margin-left: 0%;
    width: 80%;
}

#arcade {
    margin: auto;
    height: 60%;
    width: 40%;
    text-align: center;
    color: limegreen;
}

#arcade img {
    margin-left: 0%;
    width: 80%;
}

#contact {
    text-align: center;
    background: limegreen;
    background-size: cover;
    color: black;
}

#contact .content {
    background:;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    background: black;
    overflow: hidden;
    text-align: center;
}
footer li {
    display: inline;
    padding-right: 10px;
}

#canvas {
    z-index: 1;
}


